apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress-srv
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  rules:
    - host: www.tohshine.me 
      http:
        paths:
          - path: /api/user/?(.*)
            backend:
              serviceName: mauth-srv
              servicePort: 3000
          - path: /api/profile/?(.*)
            backend:
              serviceName: mprofile-srv
              servicePort: 3000
          - path: /api/product/?(.*)
            backend:
              serviceName: mproduct-srv
              servicePort: 3000
          - path: /api/order/?(.*)
            backend:
              serviceName: morder-srv
              servicePort: 3000
          - path: /?(.*)
            backend:
              serviceName: mclient-srv
              servicePort: 3000

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/do-loadbalancer-enable-proxy-protocol: 'true'
    service.beta.kubernetes.io/do-loadbalancer-hostname: 'www.tohshine.me'
  labels:
    helm.sh/chart: ingress-nginx-2.0.3
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/version: 0.32.0
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/component: controller
  name: ingress-nginx-controller
  namespace: ingress-nginx
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
    - name: https
      port: 443
      protocol: TCP
      targetPort: https
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller              

